@import "./values";

.banner {

    width: 100vw;
    background-color: $dg;
    color: white;
    z-index: 0;
    padding-bottom: 80px;

    .bannercontent {
        display: flex;
        width: 80%;
        gap: 100px;
        align-items: center;
        margin-top: 70px;

        .bannerimg {
            img {
                width: 500px;
            }
        }

        .bannertext {

            h5 {
                color: $orange;
                font-weight: 600;
                letter-spacing: -0.2px;
                font-size: 16px;
            }

            h2 {
                font-weight: 400;
                font-size: 40px;
                letter-spacing: -1.2px;
                margin-top: 5px;

                strong {
                    font-weight: 600;
                    letter-spacing: -1px;
                }
            }

            form {
                display: flex;
                justify-content: flex-start;
                margin-top: 10px;

                * {
                    margin-left: 0px;
                    margin-right: 0px;
                }

                .mailinput {
                    background-color: #252525;
                    color: white;
                    font-size: 17px;
                    height: 50px;
                    width: 280px;
                    padding: 0px 20px;
                    border-radius: 8px;
                    border: 1.5px solid #252525;
                    font-family: Bergern;

                    &:focus {
                        outline: none;
                        border: 1.5px solid #646464;
                    }

                    &::placeholder {
                        color: rgb(200,200,200);
                        font-size: 17px;
                    }

                    &::selection {
                        background-color: $orange;
                    }
                }

                .bannersubmit {
                    background-color: $orange;
                    border: none;
                    color: white;
                    font-size: 17px;
                    font-weight: 600;
                    font-family: Bergern;
                    box-sizing: content-box;
                    padding-left: 35px;
                    padding-right: 35px;
                    border-radius: 8px;
                    margin-left: 10px;
                    cursor: pointer;
                    letter-spacing: -0.5px;

                    &:hover {
                        background-color: $orangehover;
                    }
                }
            }

            p {
                font-size: 18px;
                letter-spacing: -0.5px;
                line-height: 26px;
                margin-top: 10px;
            }

            .applinks {
                margin-top: 20px;
                display: flex;
                gap: 25px;

                .hablemos {
                    background-color: $orange;
                    color: white;
                    font-size: 17px;
                    line-height: 28px;
                    letter-spacing: -0.2px;
                    padding: 15px 35px 13px 35px;
                    border-radius: 8px;
                    text-decoration: none;
                    font-weight: 600;

                    &:hover {
                        background-color: $orangehover;
                    }
                }
    
                .saber {
                    color: white;
                    border: 1px solid white;
                    border-radius: 8px;
                    font-size: 17px;
                    line-height: 28px;
                    letter-spacing: -0.4px;
                    padding: 15px 30px 13px 30px;
                    text-decoration: none;

                    &:hover {
                        border-color: #cccccc;
                        color: #cccccc;
                    }
                }
            }
        }
    }
}

.content {
    .alternado {
        width: 80%;
        display: flex;
        align-items: center;
        margin-top: 120px;

        .altimg {
            height: 400px;
        }

        .alttext {
            width: 450px;

            h5 {
                font-size: 16px;
                letter-spacing: -0.3px;
                font-weight: 600;
                color: $orange;
            }

            h3 {
                font-size: 36px;
                line-height: 44px;
                letter-spacing: -1.5px;
                font-weight: 400;
                margin-top: 5px;

                strong {
                    letter-spacing: -1px;
                }
            }

            p {
                color: $gray;
                margin-top: 10px;
                font-size: 16px;
                letter-spacing: -0.3px;
                line-height: 23px;
            }
        }
    }

    .alt1 {
        flex-direction: row-reverse;
    }

    .idea {
        width: 80%;
        background-color: $orange;
        border-radius: 20px;
        margin-top: 120px;
        padding: 70px 60px 70px 60px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);

        img {
            height: 80px;
        }

        h3 {
            color: white;
            font-size: 36px;
            letter-spacing: -1.5px;
            font-weight: 600;
            margin-top: 50px;
            text-align: center;

            strong {
                letter-spacing: -1px;
            }
        }

        p {
            color: white;
            margin-top: 20px;
            font-size: 30px;
            letter-spacing: -1px;
            line-height: 30px;
            text-align: center;
            font-weight: 500;
        }

        a {
            color: white;
            text-decoration: none;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: -0.5px;
            margin-top: 40px;
            display: block;
            text-align: center;
            text-decoration: underline;

            &:hover {
                color: #ddd;
            }
        }
    }
}

@media screen
and (min-width: 768px)
and (max-width: 991px) {
}

@media screen
and (min-width: 478px)
and (max-width: 767px) {
}

@media screen
and (max-width: 480px) {
}